<!-- nav -->
<div class="container-fluid">
  <% if(settings.logo){ %>
    <img class="brand" src="<%= settings.logo %>" />
  <% } else { %>
    <a class="brand pointer">dochub</a>
  <% } %>
  <ul id="nav-list" class="nav">
    <% for (var i = 0; i< settings.languages.length; i++) { %>
      <li><a id="nav-<%= settings.languages[i].lang %>" data-lang="<%= settings.languages[i].lang %>" class="pointer"><%= settings.languages[i].name %></a></li>
    <% } %>
  </ul>
  <ul id="secondary-nav" class="secondary-nav">
    <li><a id="nav-about" href="#about">About</a></li>
    <li><a id="twitter-link" target="_blank" href="http://www.twitter.com/documenthub">@documenthub</a></li>
  </ul>
</div>
